.header {
  display: flex;
  align-items: stretch;

  &__image,
  &__sidebar {
    width: 50%;
    height: calc(100vh - 135.5px);
    object-fit: cover;
  }

  &__sidebar {
    display: flex;
    padding: 5rem;
    position: relative;
    align-items: flex-start;
    flex-direction: column;

    .header__button {
      gap: 0.5rem;
      color: #fff;
      border: none;
      display: flex;
      padding: 1rem 1.5rem;
      background: #3c3c3c;

      font-size: 1.25rem;
      font-weight: 600;
      align-items: center;
    }

    .header__inner {
      top: 50%;
      width: 60%;
      display: flex;
      position: absolute;
      transform: translateY(-50%);
      flex-direction: column;

      .header__divider {
        width: 7.5rem;
        height: 0.5rem;
        margin: 3rem 0 0;
        background: #f1d9d8;
      }
    }
  }
}
