.header {
  display: flex;
  background: #ffefef;
  align-items: stretch;

  &__image,
  &__sidebar {
    width: 50%;
    height: calc(100vh - 135.5px);
    object-fit: cover;
  }

  &__sidebar {
    display: flex;
    padding: 5rem;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .header__divider {
      width: 7.5rem;
      height: 0.5rem;
      margin: 1rem 0 2rem;
      background: #f1d9d8;
    }

    .header__content {
      margin: 0 0 3rem;
    }
  }
}
