.links {
  gap: 3rem;
  margin: 0px 0px 0px auto;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;

  &__item {
    .links__link {
      position: relative;
      font-size: 1.25rem;
    }

    .links__link--active {
      &::after {
        left: -5%;
        width: 110%;
        height: 0.5rem;
        bottom: 0.125rem;
        content: "";
        z-index: -1;
        position: absolute;
        background-color: #f1d9d8;
      }
    }
  }
}
