.assignment {
  padding: 8rem 0;
  display: flex;
  position: relative;
  background: var(--local-color);

  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__content {
    width: 45%;
    text-align: center;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }

    b {
      font-weight: 500;
    }
  }

  &::before,
  &::after {
    top: 10%;
    width: 200%;
    height: 0.25rem;
    content: "";
    position: absolute;
    transform: rotate(-10deg);
    background: var(--local-border);
  }

  &::after {
    top: 90%;
  }
}
