.generic {
  gap: 6rem;
  width: 100%;
  padding: 6rem 10vw;
  display: flex;
  position: relative;

  text-align: center;
  align-items: center;

  &__subtitle {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__image {
    height: 650px;
    width: auto;
    box-shadow: 0px 3px 6px #00000029;
  }

  &__column {
    gap: 0.75rem;
    display: flex;
    text-align: left;
    flex-direction: column;

    .generic__content {
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
