@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.socials {
  padding: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 1.75rem;
    font-weight: 500;

    .socials__subtitle {
      font-weight: 300;
    }
  }

  &__list {
    gap: 1rem;
    padding: 1rem;
    flex-direction: row;

    .socials__item {
      .socials__link {
        transition: all 0.3s ease-in-out;

        .socials__icon {
          width: 3rem;
          height: 3rem;
        }

        &:hover {
          color: #dfbbba;
        }

        .socials__label {
          @include visually-hidden;
        }
      }
    }
  }
}
