@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.home {
  overflow-y: hidden;

  &__header {
    width: 100%;
    padding: 3rem 0 2rem;
    display: flex;
    justify-content: center;

    @include sm-breakpoint {
      padding: 4rem 0 1rem;
    }

    @include md-breakpoint {
      padding: 5rem 0 4rem;
    }

    .home__logo {
      width: auto;
      height: 4rem;

      @include sm-breakpoint {
        height: 6rem;
      }
    }

    .home__title {
      @include visually-hidden;
    }
  }

  &__main {
    padding: 0;

    &__section {
      gap: 2rem;
      display: flex;
      padding: 2rem;
      flex-direction: column;
      justify-content: center;

      @include sm-breakpoint {
        gap: 4rem;
        padding: 4rem;
      }

      @include md-breakpoint {
        gap: 3rem;
        padding: 1rem 6rem 0px;
        flex-direction: row;
      }

      .home__link {
        @include clickable-image;

        flex: 1;
        display: block;

        .home__figure {
          position: relative;

          .home__image {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;

            @include md-breakpoint {
              height: calc(100vh - 24rem);
            }
          }

          .home__caption {
            left: 50%;
            color: #fff;
            bottom: 2rem;
            position: absolute;
            transform: translateX(-50%);
            font-size: 1em;
            font-weight: 300;
            text-align: center;

            .home__span {
              display: block;
              font-size: 2em;
              font-weight: 500;
              line-height: 1;
              text-transform: uppercase;
            }

            @include sm-breakpoint {
              bottom: 3rem;
              font-size: 1.5rem;
            }

            @include md-breakpoint {
              bottom: 3rem;
              font-size: 1.25rem;
              .home__span {
                font-size: 2.5em;
              }
            }
          }
        }
      }
    }
  }
}
