.generic {
  gap: 0.5rem;
  padding: 6rem 2.5rem;
  display: flex;
  position: relative;

  text-align: center;
  align-items: center;
  flex-direction: column;

  &:nth-of-type(even) {
    &::before {
      top: 0px;
      width: 100%;
      height: 50rem;
      z-index: -1;
      content: "";
      position: absolute;
      background: var(--local-color);
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__title,
  &__content {
    width: 35%;
  }

  &__divider {
    width: 7.5rem;
    height: 0.5rem;
    margin: 1.5rem 0 0;
    background: var(--local-border);
  }

  &__container {
    width: 80%;
    margin: 2.5rem 0 0;

    .generic__images {
      margin: -2rem;

      flex-wrap: wrap;
      flex-direction: row;

      .generic__image {
        padding: 2rem;

        &--one-one {
          width: 100%;
        }

        &--one-two {
          width: 50%;
        }

        &--one-third {
          width: 33.3333%;
        }

        &--two-third {
          width: 66.6666%;
        }

        // TODO: Use class instead of tag
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
